<h1>Editing Book</h1>

<% if @book.errors.any? %>
  <% if @book.errors.count == 2 %>
    <p>2 errors prohibited this obj from being saved:</p>
  <% else %>
    <p>1 error prohibited this obj from being saved:</p>
  <% end %>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book do |f| %>
  <label for="book_title">Title</label>
  <%= f.text_field :title, autofocus: true, id:"book_title" %>

  <label for="book_body">Opinion</label>
  <%= f.text_area :body, autofocus: true, id:"book_body" %>

  <%= f.submit 'Update Book' %>
<% end %>