<%= render 'userinfo', user: @user, book: @book_new %>

<h1>Book detail</h1>
<table>
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(@user.books) do %>
          <%= image_tag @book.user.get_profile_image(100, 100) %><br>
          <%= @book.user.name %>
        <% end %>
      </td>
      <td>
        <%= link_to @book.title, book_path(@book) %>
      </td>
      <td><%= @book.body %></td>
      <td>
        <% if @book.user == current_user %>
          <%= link_to "Edit", edit_book_path(@book) %>
        <% end %>
      </td>
      <td>
        <% if @book.user == current_user %>
          <%= link_to "Destroy", book_path(@book), method: :delete %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>